:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

/* CONTAINERS */

.App {
  width: 100vw;
  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(218, 73, 21, 0.668);
}

.super-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 60%;
  height: 80%;
}

.left-container {
  border: 6px double rgba(237, 150, 83, 0.829);
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(190, 135, 33, 0.783);
}

.middle-container {
  height: 100%;
  border-top: 6px double rgba(237, 150, 83, 0.829);
  border-bottom: 6px double rgba(237, 150, 83, 0.829);
}

.right-container {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border: 6px double rgba(237, 150, 83, 0.829);
  background-color: rgba(190, 135, 33, 0.783);
}
