/* CITY */

.city {
  /* border: 1px dotted white; */

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin-top: 2em;

  color: rgba(134, 53, 50, 0.878);
}

.city-header-console {
  width: 100%;
}

.name-money-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.player-money-display > span {
  color: rgba(36, 50, 2, 0.783);
  font-size: 1.3rem;
}

.day-title-wrapper > h3 > span,
.player-name-display > span,
.player-money-display > span {
  font-size: 1.5rem;
  color: rgba(36, 50, 2, 0.783);
}
.day-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.city-title {
  font-size: 1.2rem;
}

/* SALES CONSOLE */

/* sales display */

.sale-info {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.item-info {
  margin-left: -4rem;
}

.sale-display {
  margin-top: 2rem;
}

/* sales container */

.sales-container {
  margin-top: 1.5rem;
  width: 24vw;

  display: flex;

  border: 6px dotted saddlebrown;
  margin: 1em;
  padding: 1em;
  width: 110%;
}

.inner-sales-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

/* quantity and item name */

.quantity-name-wrapper {
  display: flex;
  justify-content: space-between;

  width: 15vw;
}

.item-quantity {
  color: rgba(86, 56, 8, 0.838);
  font-size: 1.5rem;
  margin-right: 1em;
}

.quantity-pieces {
  font-size: 1.25rem;
}

.item-name {
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

/* price and buy button */

.price-buy-wrapper {
  display: flex;
  align-items: center;
}

.item-price {
  color: rgba(35, 107, 36, 0.937);
  margin-right: 0.6em;
}

.buy-btn {
  background-color: rgba(11, 11, 119, 0.857);

  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(33, 85, 2, 0.983);
  padding: 0.3rem;
  width: 3em;
  height: 2.5em;
  font-weight: 600;
  color: rgba(216, 229, 240, 0.937);
}

.buy-btn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 2px 2px 10px rgba(108, 122, 135, 0.937);
}
