/* HEADER */

.header {
  text-align: center;
  color: rgb(220, 198, const 158);
  border-bottom: 3px double rgb(195, 177, 143);

  width: 60%;
  margin-top: 1.5em;
}

.header > h1 {
  margin-bottom: 0.3em;
}
